# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\TC\Documents\I.T.Colleg\Semester_6AKIF\POS_Doblander\Makroarchitekur\MakroarchitekurTeil2\makrotestdobl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
